<<<<<<< HEAD
/*#title{*/
    /*font-family: 'Calligraffitti';*/
    /*font-size: 2.5em;*/
    /*text-align: center;*/
/*}*/

/*.book-name{*/
    /*color: black;*/
    /*font-family: 'Righteous', cursive;*/
    /*font-size: 1.2em;*/
/*}*/


=======
#title{
    font-family: 'Calligraffitti';
    font-size: 2.5em;
    text-align: center;
}

.book-name{
    color: black;
    font-family: 'Righteous', cursive;
    font-size: 1.2em;
}


>>>>>>> did some structure changes today
/*.btn{
    float: right;
}

button{
    opacity: 0.0;
}*/





<<<<<<< HEAD

img {
    height: 120px;
    width: auto;
}
=======
img{
    width: 200px;
}


>>>>>>> did some structure changes today
