<div class="container">
    <div class="row">
        <div class="col-md-2">
            <app-books-by-store-filter (onBooksRequest)="selectedStore=$event">

            </app-books-by-store-filter>
        </div>
        <div class="col-md-10">
            <h2 id="title" *ngIf="!selectedStore"> {{ listCollectionUrl | capitalizeFirstLetter }}</h2>  
            <h2 id="title" *ngIf="selectedStore"> Displaying books of  <em> {{selectedStore.Name}}
            </em></h2>
            <app-item-list [onSelectedStore]="selectedStore" (onUrl)="listCollectionUrl=$event"></app-item-list>
        </div>
    </div>
</div>



