
/* btn{
    float: right;
} */
/*
button{
    opacity: 0.0;
}*/

img {
    height: 400px;
    width: auto;
    /* display: block; */
    margin: 0 auto;
}

 .card{
    border: 0.1px solid gray;
     padding: 2%;
    margin: 6% 0 6% 0;
    height: 100%;
} 

.card-title{
    height: 35px;
}


 .card button{
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);  
    opacity: 0.0;
    position: absolute;
    top: 45%;
    left: 50%;
}

 .card:hover button{
    cursor: pointer;
    opacity: 1.0;
    filter: gray;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
} 

.card:hover img{
    opacity: 0.3;
    filter: gray;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
} 