<div *ngIf="book">
  <h2> {{book.Name}} details</h2>
  <div>
    <label>id: </label> {{book.Id}}
  </div>
  <div>
    <label>title: </label>
    <input [(ngModel)]="book.Name" placeholder="title" />
  </div>
  <div>
    <label>author:</label>
    <input [(ngModel)]="book.Author" placeholder="author" />
  </div>
  <div>
    <label>description:</label>
    <input [(ngModel)]="book.Description" placeholder="description" />
  </div>
  <div>
    <label>price:</label>
    <input [(ngModel)]="book.Price" placeholder="price" />
  </div>
  <div>
    <label>rating:</label>
    <input [(ngModel)]="book.Rating" placeholder="rating" />
  </div>
  <div>
    <label>pictureUrl:</label>
    <input [(ngModel)]="book.PictureURL" placeholder="pictureUrl" />
  </div>
  <button class="btn btn-default" (click)="goBack()">Back</button>
  <button class="btn btn-success" (click)="save(book.Id)">Save</button>

</div>

